/* Общий стиль */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

h1 {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover {
    background-color: #0056b3;
}

/* Карта */
.map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

object {
    width: 90vw;
    max-width: 1000px;
    height: auto;
}

/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.modal-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.close {
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
}

.news-container {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
}

/* Блок с новостями */
.news-item {
    display: flex;
    align-items: center;
    
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.news-item img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    margin-left: 15px;
    border-radius: 5px;
}

.news-text {
    flex: 1;
    text-align: left;
}
.read-more {
    display: inline-block;
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
    color: #2563eb;
    text-decoration: none;
    transition: color 0.3s ease;
}

.read-more:hover {
    color: #1d4ed8;
    text-decoration: underline;
}
